
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cart {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #444;
  border-radius: 8px;
  background: rgb(145, 145, 222);
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin: 0.5rem 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 20px; /* espacio entre productos */
  padding: 20px 0;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.modaloverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* importante para que quede encima */
}

.modalcontent {
  background-color: rgb(76, 175, 172);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.btncarrito {
  position: "absolute";
  top: "10px";
  right: "10px";
  border: "none";
  background: "transparent";
  fontSize: "1.2rem";
  cursor: "pointer";
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.login-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #555;
}




